.menu {
	gap: 8px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 0 16px;
}

.menuItem {
	background: #ffffff;
	padding: 16px 12px;
	border-radius: 20px;
	border: 1px solid #f3f3f3;
	display: flex;
	align-items: center;
	gap: 8px;
	color: #000000de;
}

.menuItem span {
	font-family: Inter;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	text-align: left;
}

.menuItem:last-child {
	grid-column: span 2;
	grid-row: 3;
}
